*/__pycache__/*
.idea/
data/
results/
snapshot/
tensorboard/
results_kitti/
results_oxford/
snapshot_kitti/
tensorboard_kitti/
repeatability/*.log
repeatability/*/
kernels/dispositions
geometric_registration_kitti/*
geometric_registration_eth/*
geometric_registration/oldlog/*
geometric_registration/3DSmoothNet/
geometric_registration/pred_result/*
geometric_registration/*/
*_back.py
*.pyc
*.so
*.o
*.log
